h1 {
    text-align: center;
    margin: auto;
    font-size: 40px;
    /* background-color: blue; */
}


ul > li {
    text-align: center;
    display: inline-block;
    margin: 70px;
}

#maintext {
    margin-bottom: 0%;
}

img{
    width:20px;
    height:300px;
}