   h1 {
    text-align: center;
    margin: auto;
    font-size: 600%;
    font-family: 'Astloch', cursive;
    color: white;
    
}  

:root{
    --button-hover-color: rgba(84, 76, 172, 0.5);
    --left-bg-color: rgba(39, 8, 56, 0.85);
}

nav>ul>li>a>button:hover{
  background-color: var(--button-hover-color);
}

nav>ul>li>a>button{
  text-decoration: none;
  color:white;
  font-weight:bold;
  text-transform: uppercase;
  font-size:16px;
  width: 12.50em;
  height:3.13em;
  background-color:rgba(245, 246, 253, 0.4);
  border:.13em solid rgb(241, 234, 243,.6);
  margin-top:.63em;
  font-family: 'forum', cursive;
  letter-spacing: .13em;
}

nav{
  padding:1%;
  right:0%;
  margin-top:1;
  overflow: hidden;
  text-align: right;
}
  
  #header{
    margin-bottom: 313%;
  }

 #aboutus ul > li > p {
    text-align: center;
    display: inline-block;
    margin: 3em;
    font-size: 156%;
    font-family: 'forum', sans-serif;
    color: white;
    line-height: 10%;
    
}
#aboutus{
  overflow: hidden;
  margin-left: 200px;
} 

section{
  width:250px; 
  float:left;
  padding:4%;
}

#maintext {

    font-size: 1.69em;
    color: white;
    font-family: 'forum', sans-serif;

}

img{
    width:11.13em;
    height:11.75em;
    border-radius: 50%;
}

 body{
  
  background:url('/img/letter-background.jpg');
  box-shadow:  inset 0 0 0 14000px rgba(81, 103, 201, 0.616);
  background-size: cover;
  margin: 0;
  padding: 0;
  }
  
  #source {
    margin-top: 1.88em;
    border: .63em solid #000;
    color: white;
  }

