:root{
  --container-bg-color: #333;
  --left-bg-color: rgba(44, 9, 65, 0.8);
  --right-bg-color:rgba(196, 215, 224, 0.3);
  --button-hover-color: rgba(84, 76, 172, 0.5);
  --hover-width: 100%;
  --other-width: 0%;
  --speed: 1000ms;
}

html, body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
}

h1{
  font-size:4rem;
  color:#fff;
  position:absolute;
  left:50%;
  top:15%;
  transform:translateX(-50%);
  white-space:nowrap;
}

.container{
  position:relative;
  width:100%;
  height:100%;
  background:var(--container-bg-color);
}

.split{
  position:absolute;
  width:50%;
  height:100%;
  overflow:hidden;
}

.split.left{
  left:0;
  background:url('/img/dark.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--left-bg-color);
}

.split.right{
  right:0;
  background:url('/img/light.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before{
  transition:var(--speed) all ease-in-out;
}

.click-left .left{
  width:var(--hover-width);
}

.click-left .right{
  width:var(--other width);
}

.click-right .right{
  width: var(--hover-width);
}

.click-right .left{
  width:var(--other-width);
}

#generator-container{
  opacity:.8;
  position:absolute;
  top:3%;
  left:36%;
}

#mood{
  display:block;
  margin-top:2.5%;
}

#submit{
  margin-top:3%;
  width:120px;
  height:33px;
  border-radius: 1px;
  text-transform: uppercase;
  background-color:rgba(245, 246, 253, 0.6)
}

#submit:hover{
  background-color:var(--button-hover-color);
}

#form{
  background:rgba(0, 0, 0, 0.6);
  padding:3%;
  color:white;
  text-align: center;
  margin-bottom:5%;
}

#generator{
  background:rgba(0, 0, 0, 0.6);
  background-image: "";
}

#left-arrow{
  width:40px;
  position:absolute;
  top:45%;
  right:95%;
}

#right-arrow{
  width:40px;
  position:absolute;
  top:45%;
  left:95%;
}

#text-input{
  margin-left:10px;
  height:33px;
  width:200px;
  font-size: 20px;
  background-color:transparent;
  border: solid 2px white;
  color:white;
  outline:none
}

#input{
  font-size: 20px;
}
#save{
  display:block;
  margin:auto;
  margin-top:3%;
  width:120px;
  height:33px;
  border-radius: 1px;
  text-transform: uppercase;
  background-color:rgba(245, 246, 253, 0.6)
}

