:root{
  --container-bg-color: #333;
  --left-bg-color: rgba(44, 9, 65, 0.8);
  --right-bg-color:rgba(196, 215, 224, 0.3);
  --hover-width: 100%;
  --other-width: 0%;
  --speed: 1000ms;
}

html, body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
}

h1{
  font-size:4rem;
  color:#fff;
  position:absolute;
  left:50%;
  top:15%;
  transform:translateX(-50%);
  white-space:nowrap;
}

.container{
  position:relative;
  width:100%;
  height:100%;
  background:var(--container-bg-color);
}

.split{
  position:absolute;
  width:50%;
  height:100%;
  overflow:hidden;
}

.split.left{
  left:0;
  background:url('/img/dark.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--left-bg-color);
}

.split.right{
  right:0;
  background:url('/img/light.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before{
  transition:var(--speed) all ease-in-out;
}

.hover-left .left{
  width:var(--hover-width);
}

.hover-left .right{
  width:var(--other width);
}

/* .hover-left .right:before{
  z-index:2;
} */

.hover-right .right{
  width: var(--hover-width);
}

.hover-right .left{
  width:var(--other-width);
}

/* .hover-right .left:before{
  z-index:2;
} */

/* @media(max-width:800px){
  h1{
    font-size: 2rem;
  }
} */

#generator-container{
  /* background-color: white; */
  opacity:.8;
  position:absolute;
  top:3%;
  left:36%;
}

#mood{
  display:block;
  margin-top:5%;
}

#submit{
  margin-top:5%;
}

#form{
  background:rgba(0, 0, 0, 0.6);
  padding:5%;
  color:white;
  text-align: center;
  margin-bottom:10%;
}

#generator{
  background:rgba(0, 0, 0, 0.6);
}
