:root{
  --container-bg-color: #333;
  --left-bg-color: rgba(230, 214, 240, 0.3);
  --right-bg-color:rgba(45, 163, 218, 0.418);
  --button-hover-color: rgba(84, 76, 172, 0.5);
  --hover-width: 100%;
  --other-width: 0%;
  --speed: 1000ms;
}

html, body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

h1{
  font-size:4rem;
  color:#fff;
  position:absolute;
  left:50%;
  top:15%;
  transform:translateX(-50%);
  white-space:nowrap;
}

.container{
  position:relative;
  width:100%;
  height:100%;
}

.split{
  position:absolute;
  width:50%;
  height:100%;
  overflow:hidden;
}

.split.left{
  left:0;
  background:url('/img/dark.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--left-bg-color);
}

.split.right{
  right:0;
  background:url('/img/light.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before{
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before{
  transition:var(--speed) all ease-in-out;
}

.click-left .left{
  width:var(--hover-width);
}

.click-left .right{
  width:var(--other width);
}

.click-right .right{
  width: var(--hover-width);
}

.click-right .left{
  width:var(--other-width);
}

#generator-container{
  opacity:.8;
  position:absolute;
  top:3%;
  left:36%;
}

#mood{
  display:block;
  margin-top:2.5%;
}

#mood > label{
  font-family: 'forum', cursive;
  font-weight: bold;
  text-transform: uppercase;
}

#submit{
  margin-top:3%;
  width:120px;
  height:33px;
  border-radius: 1px;
  text-transform: uppercase;
  background-color:rgba(187, 191, 216, 0.6);
  text-decoration: none;
  border: solid 2px white;
  font-family: 'forum', cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size:15px;
}

#submit:hover{
  background-color:var(--button-hover-color);
}

#form{
  background:rgba(0, 0, 0, 0.6);
  padding:3%;
  color:white;
  text-align: center;
  margin-bottom:5%;
}

#generator{
  background:rgba(41, 39, 39, 0.8);
  background-image: "";
}

#left-arrow{
  width:40px;
  position:absolute;
  top:45%;
  right:95%;
}

#right-arrow{
  width:40px;
  position:absolute;
  top:45%;
  left:95%;
}

#text-input{
  margin-left:10px;
  height:33px;
  width:200px;
  font-size: 20px;
  background-color:transparent;
  border: solid 2px white;
  outline:none;
  font-family: 'forum', cursive;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
}

#input{
  font-size: 20px;
}
#save{
  display:block;
  margin:auto;
  margin-top:3%;
  width:120px;
  height:33px;
  border-radius: 1px;
  background-color:rgba(187, 191, 216, 0.6);
  border: solid 2px white;
  font-family: 'forum', cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size:15px;
}

#save:hover{
  background-color: var(--button-hover-color);
}
nav{
  position: absolute;
  padding:1%;
  right:0%;
  margin-top:1%;
}


nav>ul>li>a>button:hover{
  background-color: var(--button-hover-color);
}

nav>ul>li>a>button{
  text-decoration: none;
  color:white;
  font-family: 'forum', cursive;
  font-weight: bold;
  text-transform: uppercase;
  font-size:16px;
  width: 200px;
  height:50px;
  background-color:rgba(187, 191, 216, 0.6);
  border:solid 2px white;
  margin-top:10px;
}

.fly-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  font-family: 'Astloch', cursive;
  font-weight: 300;
  font-size: 4em;
  color: #fff;
  transition: all 1s ease;
  letter-spacing: 20px;
}


#xbutton{
  width:30px;
  position: absolute;
  left: 68%;
  top: 43%;
  z-index: 1;
  color:white;
  transform: translateX(-50%) translateY(-50%);
  transition: all 1s ease;
}





