div.scrollmenu {
    background-color: white;
    overflow: scroll;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

img {
    width: 300px;
    height: 300px;
}