  div#scrollmenu {
    background-color: white;
    overflow: scroll;
    white-space: nowrap;
}

div#scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div#scrollmenu a:hover {
    background-color: #777;
} 

#maintext {
    margin-bottom: 0%;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 1000px;
}

ul > li {
    text-align: center;
    display: inline-block;
    margin: 70px;
}

#scrollmenu > section{
    display:inline-block;
    margin-right:2%;
}

#scrollmenu > section > h2{
    text-align: center;
    font-size:20px;
}

#scrollmenu{
    margin-top:30px;
    margin-left:20px;
}

#scrollmenu > section > img{
    border: solid 2px; black;
}


























#scrollmenu{
    
    
}