body{
    height:1000px;
    background:url('/img/letter-background.jpg');
    box-shadow:  inset 0 0 0 1000px var(--left-bg-color);
    background-size: cover;
}

h1{
    font-size:80px;
    padding:3%;
    float:left;
    margin-top:60px;
    margin-left:100px;
    color: rgba(245, 246, 253,.5);
    font-weight: bold;
    font-family: 'Srisakdi', cursive;
    letter-spacing: 2px;
  }

  

#scrollmenu {
    overflow: scroll;
    white-space: nowrap;  
    padding:3%;
    /* background-color:rgba(245, 246, 253,.4); */
}

#scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


#scrollmenu > section{
    display:inline-block;
    margin-right:2%;
}

#scrollmenu > section > h2{
    text-align: center;
    font-size:23px;
    margin-bottom:20px;
    background-color:rgba(245, 249, 253, 0.4);
    height:50px;

}

#scrollmenu{
    margin-top:30px;
    margin-left:20px;
}

#scrollmenu > section > img{
    border: solid 410x black;
    width:300px;
    background-color:rgba(245, 249, 253, 0.829);
}



























