:root{
    --button-hover-color: rgba(84, 76, 172, 0.5);
    --left-bg-color: rgba(39, 8, 56, 0.85);
}

nav>ul>li>a>button:hover{
  background-color: var(--button-hover-color);
}

nav>ul>li>a>button{
  text-decoration: none;
  color:white;
  font-weight:bold;
  text-transform: uppercase;
  font-size:16px;
  width: 200px;
  height:50px;
  background-color:rgba(245, 246, 253, 0.4);
  border:2px solid rgb(241, 234, 243,.6);
  margin-top:10px;
  font-family: 'forum', cursive;
  letter-spacing: 2px;
}

nav{
  padding:1%;
  right:0%;
  margin-top:1;
  overflow: hidden;
  text-align: right;
}